<head>
    <meta charset="utf-8">
    <base href="{{baseUrl}}" />
    <title>{{title}}</title>
    <link rel="stylesheet/less" type="text/css" href="style.less" />
    {{#each apps}}
		{{#if this.hasStyle}}
	<link rel="stylesheet/less" type="text/css" href="{{resource this.name 'style.less'}}" />
		{{/if}}
    {{{appHead this.name}}}
	{{/each}}
    <link rel="shortcut icon" href="favicon.ico" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="script.js"></script>

</head>
