<div id="news" class="text-center">
	<h3>Scegli un genere di notizie</h3>
	<form>
		<div class="row">
		    <div class="btn-group-vertical" data-toggle="buttons">
		        <label class="btn btn-default">
		            <input type="radio" name="topic" value="w">Esteri
		        </label>
		        <label class="btn btn-default">
		            <input type="radio" name="topic" value="n">Italia
		        </label>
		        <label class="btn btn-default">
		            <input type="radio" name="topic" value="b">Economia
		        </label>
		        <label class="btn btn-default">
		            <input type="radio" name="topic" value="t">Scienza e tecnologia
		        </label>
		        <label class="btn btn-default">
		            <input type="radio" name="topic" value="">Tutti
		        </label>
		    </div>
		  </div>
	</form>
</div>