
<!DOCTYPE html>
<html>
    {{> head }}
    <body>
    	<div class="screen">
	    	{{> header }}
	    	<h3 class="error">User "{{user}}" does not exist!</h3>
	        {{> footer }}
        </div>
    </body>
</html>
