<div id="twitter">
	<div class="title"><img src="{{resource 'twitter' 'icon.png'}}"></div>
	{{#eachSliced twitter limit="3"}}
	<div class="twitt">
		<img src="{{authorImg}}"><span class="author">{{author}}</span>
		<p>{{{text}}}</p>
	</div>
	{{/eachSliced}}
</div>