<div id="weather">
	<div class="header"><i class="owf owf-{{weather.weather.[0].id}}"></i></div>
	<div class="title"><span class="city">{{user.city}}</span></div>
	<div class="details"><span class="temperature">{{temperature weather.main.temp}}</span><span class="desc">{{weather.weather.[0].description}}</span></div>
</div>