#news {
	font-size: 1.5em;
	padding: 5px;
	img {
		margin: 0px auto;
		width: 64px;
	}
	.title {
		text-align: center;
		border-bottom: 0px solid black;
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 30px;
	}
	ul {
		margin: 10px;
		padding-left: 10px;
		li {
			margin-bottom: 10px;
		}
	}
}
.layout_cell #news {
	font-size: 1.4em;
}
.layout_horizontal #news {
	font-size: 1.3em;
}
.layout_vertical #news {
	font-size: 1.2em;
}