@screen-width: 480px;
@screen-height: 360px;
@body-background-color: #eee;
@frame-border-color: #404040;
@frame-border-size: 2px;

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: @body-background-color;
}

.mainContainer {
  margin: 0 auto;
  width: 1024px;

  .logo {
    display: block;
    margin: auto;
  }
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  .checkbox {
    font-weight: normal;
  }
  .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-control:focus {
    z-index: 2;
  }
  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

#leftbar {
  float: left;
  width: 220px;
  margin-left: 40px;

  label.btn {
    padding: 6px 8px;
    margin-bottom: 1px;
  }

  #checkAllHours, #showLayouts {
    width: 207px;
    margin-bottom: 5px;
  }
}


#rightbar {
  float: right;
  h3 {
    margin-bottom: 0px;
  }
}

#rightbar h3, #leftbar h3 {
  margin-top: 5px;
}

#centerView {
  display: inline-block;
}

#frameScreen {
  width: @screen-width;
  height: @screen-height;
  position: relative;
  background-color: transparent;
  border-color: @frame-border-color;
  border: @frame-border-size solid;
  border-radius: 5px;

  .cell {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    border-color: @frame-border-color;

    span {
        line-height: @screen-height;
        font-size: 2em;
    }
  }

  .cell.hovered {
    background-color: darken(@body-background-color, 10%);;
  }

  .cell.top span, .cell.bottom span {
      line-height: @screen-height/2;
  }

  .cell.left, .cell.right {
    width: 50%;
    height: 100%;
  }

  .cell.top, .cell.bottom {
      height: 50%;
  }

  .top {
      top: 0px;
      border-bottom: @frame-border-size solid;
  }
  .bottom {
      top: 50%;
  }

  .left {
      left: 0px;
      border-right: @frame-border-size solid;
  }
  .right {
      left: 50%;
  }

  .screen {
      display: none;
  }
  .visible {
      display: inherit;
  }
}


#layoutSelectors {
  label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
  }
  label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
    width: 48px;
  }
  label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    -webkit-box-shadow: inset 2px 2px 15px 0px rgba(0,0,0,0.40);
    -moz-box-shadow: inset 2px 2px 15px 0px rgba(0,0,0,0.40);
    box-shadow: inset 2px 2px 15px 0px rgba(0,0,0,0.40);
  }
}

#appList {
  .appItem {
    border: 1px dashed transparent;
    margin-bottom: 10px;
    width: 240px;
    min-height: 64px;
    padding: 2px;
    clear: both;
    h4 {
      margin-top: 0px;
      margin-bottom: 0px;
      text-transform: capitalize;
    }
    img {
      width: 48px;
      vertical-align: middle;
      margin-right: 10px;
      float: left;
    }

    .appSettings {
      position: absolute;
      right: 45px;
      top: -10px;
    }
    .removeApp {
      position: absolute;
      right: 5px;
      top: -10px;
    }
  }
  .appItem:hover {
    border-color: @frame-border-color;
    cursor: pointer;
  }
  .appItem.correct:hover {
    border-color: transparent;
    cursor: inherit;
  }
}

#settingsActions {
  clear: both;
  padding-top: 30px;
  min-height: 64px;
  max-width: 600px;
  margin: 0 auto;

  .alert {
    position: absolute;
    right: 300px;
  }
}

#saveSettings {
  width: 200px;
  margin: auto;
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}

#savedLayouts {
  @center-h: 23px;
  @center-v: 12px;
  @top: 0px;
  @bottom: 24px;
  @left: 5px;
  @right: 35px;

  .layoutPreview:hover {
    border-color: @frame-border-color;
  }

  .layoutPreview {
    position: relative;
    margin-bottom: 5px;
    padding: 2px;
    clear: both;
    min-height: 55px;

    border: 1px dashed;
    border-color: transparent; 

    .layoutAppIcon {
      width: 24px;
      position: absolute;
    }

    .layoutIcon {
      width: 64px;
      float: left;
      margin-right: 5px;
    }

    .removeLayout {
      position: absolute;
      right: 5px;
      top: 4px;
    }
  }

  .layoutPreview[data-name=full] {
    .layoutAppIcon {
      left: @center-h;
      top: @center-v;
    }
  }

  .layoutPreview[data-name=rrightleft] {
    .layoutAppIcon:nth-child(2) {
      left: @left;
      top: @center-v;
    }
    .layoutAppIcon:nth-child(3) {
      left: @right;
      top: @top
    }
    .layoutAppIcon:nth-child(4) {
      left: @right;
      top: @bottom;
    }
  }
  .layoutPreview[data-name=lleftright] {
    .layoutAppIcon:nth-child(2) {
      left: @left;
      top: @top;
    }
    .layoutAppIcon:nth-child(3) {
      left: @left;
      top: @bottom;
    }
    .layoutAppIcon:nth-child(4) {
      left: @right;
      top: @center-v;
    }
  }
  .layoutPreview[data-name=ttopbottom] {
    .layoutAppIcon:nth-child(2) {
      left: @left;
      top: @top;
    }
    .layoutAppIcon:nth-child(3) {
      left: @right;
      top: @top;
    }
    .layoutAppIcon:nth-child(4) {
      left: @center-h;
      top: @bottom;
    }
  }
  .layoutPreview[data-name=bbottomtop] {
    .layoutAppIcon:nth-child(2) {
      left: @center-h;
      top: @top;
    }
    .layoutAppIcon:nth-child(3) {
      left: @left;
      top: @bottom;
    }
    .layoutAppIcon:nth-child(4) {
      left: @right;
      top: @bottom;
    }
  }
  .layoutPreview[data-name=leftright] {
    .layoutAppIcon:nth-child(2) {
      left: @left;
      top: @center-v;
    }
    .layoutAppIcon:nth-child(3) {
      left: @right;
      top: @center-v;
    }
  }
  .layoutPreview[data-name=topbottom] {
    .layoutAppIcon:nth-child(2) {
      left: @center-h;
      top: @top;
    }
    .layoutAppIcon:nth-child(3) {
      left: @center-h;
      top: @bottom;
    }
  }
  .layoutPreview[data-name=cells] {
    .layoutAppIcon:nth-child(2) {
      left: @left;
      top: @top;
    }
    .layoutAppIcon:nth-child(3) {
      left: @left;
      top: @bottom;
    }
    .layoutAppIcon:nth-child(4) {
      left: @right;
      top: @top;
    }
    .layoutAppIcon:nth-child(5) {
      left: @right;
      top: @bottom;
    }
  }
}

.appDialog {

  .btn-default.focus {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
  }

}